/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#cta {
  background: -o-linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.9)),
    url("../img/hero-bg-2.jpg") center center;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(2, 2, 2, 0.7)),
      to(rgba(0, 0, 0, 0.9))
    ),
    url("../img/hero-bg-2.jpg") center center;
  background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.9)),
    url("../img/hero-bg-2.jpg") center center;
  background-size: cover;
  padding: 5rem 16px;
  color: #fff;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  #cta {
    background-attachment: fixed;
  }
}
#cta .section_title {
  margin-bottom: 16px;
}
#cta .section_description p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}
