/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
footer {
  background-color: #141414;
  color: #fff;
}
.footer_top {
  padding: 24px 16px;
}
.footer_slogan p {
  font-size: 14px;
  color: #fff;
  margin-top: 24px;
  padding-right: 42px;
  font-weight: 500;
}
.footer_links {
  margin: 16px 0;
}
.footer_links h4 {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  position: relative;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.footer_links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer_links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px;
}
.footer_links ul i {
  padding-right: 2px;
  color: var(--accent);
  font-size: 18px;
  line-height: 1;
}
.footer_links ul a {
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  font-size: 14px;
}
footer a:where(:not(.wp-element-button)) {
  text-decoration: none;
}

.footer_links ul a:hover {
  color: var(--accent);
}
.footer_contact {
  margin: 16px 0;
}
.footer_contact .contact_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px;
}
.footer_contact .contact_title h6 {
  font-size: 14px;
  margin-left: 8px;
  text-transform: uppercase;
}
.footer_contact .contact_content {
  margin-bottom: 8px;
}
.footer_contact .contact_content a {
  font-size: 16px;
  color: #fff;
  word-break: break-all;
}
.footer_contact .contact_content a:hover,
.footer_contact .contact_content a:active,
.footer_contact .contact_content a:focus {
  color: var(--accent);
}
.footer_bottom {
  padding: 24px 16px;
  background-color: #000;
}
@media screen and (max-width: 576px) {
  .footer_bottom {
    padding: 32px 48px;
  }
}
.footer_info {
  text-align: center;
  font-size: 12px;
  color: #fff;
}
/* back to top */
.back-to-top {
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 996;
  background: var(--accent);
  width: 32px;
  height: 32px;
  visibility: hidden;
  opacity: 0;
  border-radius: 4px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: var(--text-color);
  line-height: 0;
}
.back-to-top:hover {
  background: var(--text-color);
}
.back-to-top:hover i,
.back-to-top:active i,
.back-to-top:focus i {
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
