/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
body.home header {
  background-color: transparent;
  border-bottom: 1px solid #313131;
}
header,
body.home header.header-scrolled {
  background-color: #000;
  border: none;
}
nav.navbar.bg-dark {
  background: transparent !important;
}
a.nav-link {
  text-transform: uppercase;
  font-size: 14px;
}
a.nav-link.active {
  font-weight: 600;
}
ul.dropdown-menu.show {
  font-size: 14px;
  text-transform: uppercase;
  background: #141414;
  border-color: transparent;
  padding: 1rem;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #141414;
  background-color: var(--accent);
}
